<div class="pagination">

    <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    <div>

        {% if page_obj.has_previous %}

            <a
                href="?search={{ search|urlencode }}&sort={{ sort|urlencode }}&page=1"
                class="pagination-link employee-page-link"
                data-page="1"
            >
                First
            </a>

            <a
                href="?search={{ search|urlencode }}&sort={{ sort|urlencode }}&page={{ page_obj.previous_page_number }}"
                class="pagination-link employee-page-link"
                data-page="{{ page_obj.previous_page_number }}"
            >
                Previous
            </a>

        {% endif %}


        {% for num in page_obj.paginator.page_range %}

            {% if num == page_obj.number %}

                <strong class="pagination-current">
                    {{ num }}
                </strong>

            {% else %}

                <a
                    href="?search={{ search|urlencode }}&sort={{ sort|urlencode }}&page={{ num }}"
                    class="pagination-link employee-page-link"
                    data-page="{{ num }}"
                >
                    {{ num }}
                </a>

            {% endif %}

        {% endfor %}


        {% if page_obj.has_next %}

            <a
                href="?search={{ search|urlencode }}&sort={{ sort|urlencode }}&page={{ page_obj.next_page_number }}"
                class="pagination-link employee-page-link"
                data-page="{{ page_obj.next_page_number }}"
            >
                Next
            </a>

            <a
                href="?search={{ search|urlencode }}&sort={{ sort|urlencode }}&page={{ page_obj.paginator.num_pages }}"
                class="pagination-link employee-page-link"
                data-page="{{ page_obj.paginator.num_pages }}"
            >
                Last
            </a>

        {% endif %}

    </div>

</div>