{% extends 'base.html' %}

{% block title %}TradeSec{% endblock %}

{% block content %}

    <br>
    <br>

    <h2 style="text-align: center;">PROFOROPS Mobile App</h2>
    <p style="text-align: center;">E2E Messenger with demo access to our platform.</p>


    
    <br>
    <br>
    <br>

    <h2 style="text-align: center;">Our Platform</h2>
    <p style="text-align: center;">The Trade Sec Platform is the essential tool for your organization to manage equipment, employees, and requests for your services.</p>

    <br>
    <br>
    <br>
{% endblock %}
