{% extends 'base2.html' %}

{% block title %}Edit Account{% endblock %}

{% block content %}
<div class="account-edit-container">
    <h2>Welcome! Please fill out the following to create your account!</h2>
    <form method="POST" class="account-edit-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="company_name">Company Name:</label>
            <input type="text" id="company_name" name="company_name" value="{{ user.company_name }}" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ user.email }}" required>
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{ user.username }}" required>
        </div>
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" required>
        </div>
        <div class="form-group">
            <label for="phone_number">Phone Number:</label>
            <input type="text" id="phone_number" name="phone_number" value="{{ user.phone_number }}">
        </div>
        <button type="submit" class="btn">Save Changes</button>
    </form>
</div>
{% endblock %}