{% extends 'base2.html' %}

{% block title %}Add New Customer{% endblock %}

{% block content %}

<main>
    <h1>Add New Customer</h1>


<form method="post" novalidate>
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for field in form %}
        <div class="form-group">

            {{ field.label_tag }}

            {% if field.errors %}
                <div class="field-errors">
                    {{ field.errors }}
                </div>
            {% endif %}

            <div style="display: flex; align-items: center; width: 100%;">

                {{ field }}

            </div>

            {% if field.help_text %}
                <small class="help-text">
                    {{ field.help_text }}
                </small>
            {% endif %}

        </div>
    {% endfor %}

    <button type="submit" class="button">
        Save Customer
    </button>

    <a href="{% url 'business_center' %}" class="button">
        Back to Business Center
    </a>
</form>


</main>
{% endblock %}
