{% extends 'base2.html' %}  <!-- Extend the base template -->

{% block title %}Bulk Location Upload{% endblock %}  <!-- Title for the page -->

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulk Upload Location</title>
</head>
<body>
    <h2>Upload CSV File</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>


{% endblock %}