{% extends 'base2.html' %}  <!-- Extend the base template -->

{% block title %}Company Invite Duplicate{% endblock %}  <!-- Title for the page -->

{% block content %}

    <head>
        <meta charset="UTF-8">
        <title>User Already belongs to another Company</title>
    </head>
    <body>
        <h2>Attention:</h2>

        <p>You are receiving this message because the individual you invited you to join your team on our TRADESEC.US is already assigned to another Company.
            Please have your user request thir account to be re-assigned and try again.</p>
        <p>The Team</p>
    </body>


{% endblock %}