<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Invitation</title>
    </head>
    <body>
        <h2>TRADESEC.US - Enterprise Platform - You are invited!</h2>
        <p>Welcome User!</p>
        <p>We are excited to invite you to join our platform. Please click the link below to sign up and accept your invitation:</p>
        <a href="{{ signup_url }}">Sign Up</a>
        <p>If you did not expect this invitation, you can ignore this email.</p>
        <p>Best regards,</p>
        <p>The Team</p>
    </body>
</html>