{% extends 'base2.html' %}  <!-- Extend the base template -->

{% block title %}Company Invite Duplicate{% endblock %}  <!-- Title for the page -->

{% block content %}

    <head>
        <meta charset="UTF-8">
        <title>Invitation Duplicate</title>
    </head>
    <body>
        <h2>Attention:</h2>

        <p>Hello,</p>
        <p>An invivation for the individual to join your team has already been created. Please ask the user to accept thier invitation and continue.</p>

    </body>

{% endblock %}