{% extends 'base2.html' %}

{% block title %}Location Form{% endblock %}

{% block content %}

<main>
    <h1>
        {% if location %}
            Edit Location: {{ location.name }}
        {% else %}
            Add New Location
        {% endif %}
    </h1>

<form method="post" novalidate>
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for field in form %}
        <div class="form-group">

            {{ field.label_tag }}

            {% if field.errors %}
                <div class="field-errors">
                    {{ field.errors }}
                </div>
            {% endif %}

            <div style="display: flex; align-items: center; width: 100%;">

                {{ field }}

            </div>

            {% if field.help_text %}
                <small class="help-text">
                    {{ field.help_text }}
                </small>
            {% endif %}

        </div>
    {% endfor %}

    <button type="submit" class="button">
        Save Location
    </button>

    <a href="{% url 'location_list' %}" class="button">
        Cancel
    </a>
</form>

{% if location %}
    <form method="post"
          action="{% url 'location_delete' location.id %}"
          style="margin-top: 10px;">

        {% csrf_token %}

        <button type="submit"
                style="background-color: rgb(69, 5, 5); color: white;">
            Delete
        </button>
    </form>
{% endif %}


</main>
{% endblock %}
