

Privacy Policy
Introduction:
Welcome to TRADESEC.US (referred to as "App" in this document). Our priority is safeguarding your privacy and ensuring responsible handling of your personal information. This Privacy Policy outlines the procedures for collecting, utilizing, and safeguarding your data.
Collection and Use of Information:
By utilizing our App, you consent to the collection and utilization of data as outlined in this policy.
Personal Information:
When registering for our services or making a purchase, we may collect personal data such as your name, email address, phone number, and payment details. This information is utilized to enhance our services, facilitate transactions, and maintain communication with you.
Marketing Communication:
Your personal information may be used to disseminate marketing materials, including promotions and App updates. You can opt-out of receiving these communications at any time by following the provided unsubscribe instructions or by contacting us directly.
Monitoring and Security:
We prioritize the security of our App and the safety of our users.
User Monitoring:
By accessing and using our App, you agree to our monitoring practices. We reserve the right to monitor user activities to identify and prevent malicious behavior, unauthorized access, or any actions detrimental to our services or users.
Unauthorized Access:
Any attempt to access restricted areas of our App or compromise its security will be promptly addressed. Such actions are prohibited and subject to prosecution under 18 U.S.C. § 1030 (the Computer Fraud and Abuse Act). We collaborate with law enforcement to ensure violators are prosecuted to the fullest extent of the law.
Data Protection:
We employ various security measures to safeguard your personal data, including encryption, Secure Socket Layer (SSL) technology, and routine security evaluations.
Changes to Privacy Policy:
We may update this Privacy Policy periodically. Any alterations will be posted on this page, and significant changes will be communicated via email or App notification. Your continued use of the App after these modifications constitutes acceptance of the revised Privacy Policy.
Contact Us:
For inquiries regarding this Privacy Policy, please contact us in writing at:
- Email: contact@tradesec.us
By using our App, you acknowledge understanding and agreement with this Privacy Policy.
Effective Date: 01/01/2025
________________________________________
This Privacy Policy ensures transparency regarding data collection and usage, outlines monitoring and security protocols, and clarifies the legal ramifications of unauthorized access attempts.
TRADESEC.US is wholly owned by George L. Russey LLC, Irving, TX 75039.
